body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.calculator {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    gap: 0.8em;
    flex-direction: column;
    align-items: center;
    
}
.display {
    margin-bottom: 10px;
}



.numbers {
    
}

button {
    
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
  
 

}

button:hover {
    background-color: #eaeaea;
}